*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    /* line-height: 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #1b3d63;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    margin: 3rem;
    gap: 5rem;
}
#userScore, #compScore, #drawScore{
    font-size: 4rem;
}
.msgContainer{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 20px;
}